.sidebar_option {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebar_option.selected {
  background-color: lightgray;
}

.sidebar_option.selected > .sidebar_option_icon {
  color: red;
}

.sidebar_option.selected > .sidebar_option_title {
  font-weight: bold;
}

.sidebar_option:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.sidebar_option:hover > .sidebar_option_icon {
  color: red;
}

.sidebar_option_icon {
  color: #606060;
  font-size: large !important;
}

.sidebar_option_title {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}
