.video_row {
  display: flex;
  margin-bottom: 30px;
  max-width: 700px;
}

.video_row > img {
  object-fit: contain;
  width: 220px;
  height: 120px;
}

.video_row_text {
  margin-left: 10px;
}

.video_channel {
  display: flex;
  align-items: center;
}

.video_row_detail,
.video_channel {
  font-size: 12px;
  color: #606060;
}

.veifired_icon {
  margin-top: 3px;
  margin-left: 5px;
}
